# CURSO DATA SCIENCE

## Módulo 1: Extração de Dados

### Aula 2 - Acessando Bancos de Dados Relacionais com o Psycopg2

#### Esquema do BD Utilizado

CREATE DATABASE sefaz;

CREATE TABLE ESTABELECIMENTO ( 
	RES_ID smallint NOT NULL,
	RES_NOM_ESTABELECIMENTO character varying(200),
	RES_ENDERECO character varying(200),
	RES_NUMERO character varying(200),
	RES_COMPLEMENTO character varying(100),
	RES_CEP character varying(8),
	RES_BAIRRO character varying(60),
	RES_CIDADE character varying(60),
	RES_UF character varying(2),
	RES_TELEFONE character varying(15),
	RES_TIP_ESTABELECIMENTO smallint NOT NULL );

CREATE TABLE TIPO_ESTABELECIMENTO (
	RES_TIP_ESTABELECIMENTO smallint NOT NULL,
	TIPO character varying(60)
);
	
INSERT INTO estabelecimento VALUES(1,'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'Ce', '(85)3031-0351',1 ); 

INSERT INTO estabelecimento VALUES(2,'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'Ce', '',1 ); 

INSERT INTO estabelecimento VALUES(3,'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'Ce', '',2); 

INSERT INTO estabelecimento VALUES(4,'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'Ce', '(85) 3121-6455',3);

INSERT INTO tipo_estabelecimento VALUES(1, 'Comercial');

INSERT INTO tipo_estabelecimento VALUES(2, 'Privado');

INSERT INTO tipo_estabelecimento VALUES(3, 'Empresarial');

## Importando as Bibliotecas Necessárias

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 2.4 MB/s  0:00:14m0:00:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [3]:
import mysql.connector

## Conectando com o PostgreSQL

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678",
  database="sys"
)

In [4]:
mydb

## Manipulando PostgreSQL no DataFrame

### Executando Consultas no DataFrame

In [7]:
mycursor = mydb.cursor()

In [9]:
mycursor.execute("SELECT * FROM ESTABELECIMENTO")

myresult = mycursor.fetchall()

In [10]:
for x in myresult:
  print(x)

(2, 'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'Ce', '', 1)
(3, 'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'Ce', '', 2)
(4, 'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'Ce', '(85) 3121-6455', 3)
(1, 'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'Ce', '(85)3031-0351', 1)

In [11]:
df = pd.read_sql("SELECT * FROM ESTABELECIMENTO", con = mydb)

/var/folders/my/bp7ych4d637_9r24crq764m40000gn/T/ipykernel_2035/2444174493.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM ESTABELECIMENTO", con = mydb)

In [13]:
# Imprimindo as colunas presentes no DataFrame
df.columns

Index(['RES_ID', 'RES_NOM_ESTABELECIMENTO', 'RES_ENDERECO', 'RES_NUMERO',
       'RES_COMPLEMENTO', 'RES_CEP', 'RES_BAIRRO', 'RES_CIDADE', 'RES_UF',
       'RES_TELEFONE', 'RES_TIP_ESTABELECIMENTO'],
      dtype='object')

In [14]:
# Checando informações gerais da tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   RES_ID                   4 non-null      int64
 1   RES_NOM_ESTABELECIMENTO  4 non-null      object
 2   RES_ENDERECO             4 non-null      object
 3   RES_NUMERO               4 non-null      object
 4   RES_COMPLEMENTO          4 non-null      object
 5   RES_CEP                  4 non-null      object
 6   RES_BAIRRO               4 non-null      object
 7   RES_CIDADE               4 non-null      object
 8   RES_UF                   4 non-null      object
 9   RES_TELEFONE             4 non-null      object
 10  RES_TIP_ESTABELECIMENTO  4 non-null      int64
dtypes: int64(2), object(9)
memory usage: 484.0+ bytes

In [15]:
# Olhando a dimensionalidade do DataFrame (linhas x colunas)
df.shape

(4, 11)

In [19]:
# Checando uma coluna específica do DataFrame
df["RES_BAIRRO"]

0     Aldeota
1     Aldeota
2     Aldeota
3    Meireles
Name: RES_BAIRRO, dtype: object

In [20]:
# Checando uma coluna específica do DataFrame com uma visualização melhor :)
df[df["RES_BAIRRO"] == "Aldeota"]

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
1,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
2,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3

In [22]:
# Obtendo os valores unitários de uma coluna específica
df["RES_BAIRRO"].unique()

array(['Aldeota', 'Meireles'], dtype=object)

In [23]:
# Fazendo busca por valor e retornando sua quantidade
# Usamos o index [0] para retornar apenas a quantidade de linhas em que nosso valor aparece
df[df["RES_NOM_ESTABELECIMENTO"] == "Amika Coffee House"].shape[0]

1

In [24]:
# checando as n primeiras instâncias do DataFrame
n = 3
df.head(n)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
1,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
2,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3

In [25]:
# checando as n últimas instâncias do DataFrame
n = 2
df.tail(n)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
2,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3
3,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1

In [26]:
# Efetuando busca condicional
condition = (df["RES_BAIRRO"] == "Aldeota") & (df["RES_NUMERO"] != "")
df[condition]

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
1,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2

In [27]:
# Visualizando apenas as colunas de interesse da busca anterior
columns_of_interest = ["RES_NOM_ESTABELECIMENTO", "RES_ENDERECO", "RES_NUMERO"]
df[condition][columns_of_interest]

  RES_NOM_ESTABELECIMENTO           RES_ENDERECO RES_NUMERO
0              Torra Café      Rua Marcos Macêdo        827
1             Urbici Café  R. Barbosa de Freitas        951

In [28]:
# Checando a dimensionalidade da consulta
# Caso deseje retornar apenas a quantidade de linhas, inserir [0] ao final de shape
df[condition][columns_of_interest].shape

(2, 3)

### Funções Agregadas

In [29]:
# obter desvio padrão de uma coluna
np.std(df["RES_ID"])

1.118033988749895

In [30]:
# obter média de uma coluna
np.mean(df["RES_ID"])

2.5

In [31]:
# obter mediana de uma coluna
np.median(df["RES_ID"])

2.5

In [32]:
# obter o máximo de uma coluna
np.max(df["RES_ID"])

4

In [33]:
# obter o mínimo de uma coluna
np.min(df["RES_ID"])

1

### Junção de Tabelas

In [34]:
# Iremos colocar a tabela TIPO_ESTABELECIMENTO dentro do DataFrame
df2 = pd.read_sql('select * from TIPO_ESTABELECIMENTO', con=mydb)

/var/folders/my/bp7ych4d637_9r24crq764m40000gn/T/ipykernel_2035/818874909.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql('select * from TIPO_ESTABELECIMENTO', con=mydb)

In [35]:
df2

   RES_TIP_ESTABELECIMENTO         TIPO
0                        1    Comercial
1                        2      Privado
2                        3  Empresarial

In [36]:
df2.shape

(3, 2)

In [37]:
# Faremos o JOIN das duas tabelas através da coluna "RES_TIP_ESTABELECIMENTO" e armazenaremos o resultado em um novo DF
df3 = pd.merge(df, df2, on = "RES_TIP_ESTABELECIMENTO")

In [38]:
df3

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO,TIPO
0,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1,Comercial
1,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1,Comercial
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2,Privado
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3,Empresarial

In [39]:
df3.shape

(4, 12)

## Cursor

In [40]:
# Removendo instância
mycursor.execute("DELETE FROM ESTABELECIMENTO WHERE RES_NOM_ESTABELECIMENTO = 'Ânimo Café'")

In [41]:
# Verificando remoção
pd.read_sql('select * from ESTABELECIMENTO', con=mydb)

/var/folders/my/bp7ych4d637_9r24crq764m40000gn/T/ipykernel_2035/2041184180.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('select * from ESTABELECIMENTO', con=mydb)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
1,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
2,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3
3,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1

### Fechando a Conexão com o PostgreSQL

In [42]:
mydb.commit()

In [43]:
mycursor.close()

True

In [44]:
mydb.close()