# CURSO DATA SCIENCE

## Módulo 1: Extração de Dados

### Aula 2 - Acessando Banco de Dados não relacional MongoDB com pymongo

#### Esquema do BD Utilizado

CREATE DATABASE sefaz;

CREATE TABLE ESTABELECIMENTO ( 
	RES_ID smallint NOT NULL,
	RES_NOM_ESTABELECIMENTO character varying(200),
	RES_ENDERECO character varying(200),
	RES_NUMERO character varying(200),
	RES_COMPLEMENTO character varying(100),
	RES_CEP character varying(8),
	RES_BAIRRO character varying(60),
	RES_CIDADE character varying(60),
	RES_UF character varying(2),
	RES_TELEFONE character varying(15),
	RES_TIP_ESTABELECIMENTO smallint NOT NULL );

CREATE TABLE TIPO_ESTABELECIMENTO (
	RES_TIP_ESTABELECIMENTO smallint NOT NULL,
	TIPO character varying(60)
);
	
INSERT INTO estabelecimento VALUES(1,'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'Ce', '(85)3031-0351',1 ); 

INSERT INTO estabelecimento VALUES(2,'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'Ce', '',1 ); 

INSERT INTO estabelecimento VALUES(3,'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'Ce', '',2); 

INSERT INTO estabelecimento VALUES(4,'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'Ce', '(85) 3121-6455',3);

INSERT INTO tipo_estabelecimento VALUES(1, 'Comercial');

INSERT INTO tipo_estabelecimento VALUES(2, 'Privado');

INSERT INTO tipo_estabelecimento VALUES(3, 'Empresarial');

sefaz.estabelecimentos.insert ({"RES_ID" : 1, 
"RES_NOM_ESTABELECIMENTO" : "Amika Coffee House", 
"RES_ENDERECO" : "Rua Ana Bilhar",
"RES_NUMERO" : "1136",
"RES_COMPLEMENTO" : "B",
"RES_CEP" : "60160110",
"RES_BAIRRO" : "Meireles",
"RES_CIDADE" : "Fortaleza",
"RES_UF" : "CE",
"RES_TELEFONE" : "(85)3031-0351",
"RES_TIP_ESTABELECIMENTO" : 1
})

sefaz.estabelecimentos.insert ({"RES_ID" : 2, 
"RES_NOM_ESTABELECIMENTO" : "Torra Café", 
"RES_ENDERECO" : "Rua Marcos Macêdo",
"RES_NUMERO" : "827",
"RES_COMPLEMENTO" : "",
"RES_CEP" : "60150190",
"RES_BAIRRO" : "Aldeota",
"RES_CIDADE" : "Fortaleza",
"RES_UF" : "CE",
"RES_TELEFONE" : "",
"RES_TIP_ESTABELECIMENTO" : 1
})

sefaz.estabelecimentos.insert ({"RES_ID" : 3, 
"RES_NOM_ESTABELECIMENTO" : "Urbici Café", 
"RES_ENDERECO" : "R. Barbosa de Freitas",
"RES_NUMERO" : "951",
"RES_COMPLEMENTO" : "Loja 01",
"RES_CEP" : "60170021",
"RES_BAIRRO" : "Aldeota",
"RES_CIDADE" : "Fortaleza",
"RES_UF" : "CE",
"RES_TELEFONE" : "",
"RES_TIP_ESTABELECIMENTO" : 2
})


sefaz.estabelecimentos.insert ({"RES_ID" : 4, 
"RES_NOM_ESTABELECIMENTO" : "Blend Coffee House", 
"RES_ENDERECO" : "R. Sabino Pires",
"RES_NUMERO" : "",
"RES_COMPLEMENTO" : "",
"RES_CEP" : "60150090",
"RES_BAIRRO" : "Aldeota",
"RES_CIDADE" : "Fortaleza",
"RES_UF" : "CE",
"RES_TELEFONE" : "(85) 3121-6455",
"RES_TIP_ESTABELECIMENTO" : 3
})

sefaz.tipos_estabelecimentos.insert ({"RES_TIP_ESTABELECIMENTO" : 1, 
"TIPO" : "Comercial"
})

sefaz.tipos_estabelecimentos.insert ({"RES_TIP_ESTABELECIMENTO" : 2, 
"TIPO" : "Privado"
})

sefaz.tipos_estabelecimentos.insert ({"RES_TIP_ESTABELECIMENTO" : 3, 
"TIPO" : "Empresarial"
})


sefaz.estabelecimentos.find({})
   .projection({})
   .sort({_id:-1})
   .limit(100)

sefaz.estabelecimentos.find ({"RES_NOM_ESTABELECIMENTO" : "Amika Coffee House"})

sefaz.tipos_estabelecimentos.find({})
   .projection({})
   .sort({_id:-1})
   .limit(100)

## Iniciando o MongoDB

brew services start mongodb-community@7.0
mongotop
brew services stop mongodb-community@7.0

## GUI

https://www.mongodb.com/products/tools/compass

## Importando as Bibliotecas Necessárias

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\jmmfi\anaconda3\lib\site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jmmfi\anaconda3\lib\site-packages (from pymongo) (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
from pymongo import MongoClient
from bson import ObjectId

## Conectando com o MongoDB

In [3]:
#client = MongoClient("mongodb+srv://isaac:isaac@cluster0.xxdma.gcp.mongodb.net/sefaz?retryWrites=true&w=majority")
client = MongoClient("mongodb://localhost:27017/sefaz")

In [4]:
###Definindo alguns alias para facilitar
banco = client.sefaz
estabelecimento = banco.estabelecimentos
tipo_estabelecimento = banco.tipos_estabelecimentos

## Manipulando MongoDB no DataFrame

### Executando Consultas no DataFrame

In [5]:
df = pd.DataFrame.from_records(estabelecimento.find())

In [6]:
# Visualizando tabela no DataFrame
df

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,68f0484dd6cea8ae2842c01e,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,68f04912d6cea8ae2842c025,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [7]:
### Ou também pode-se fazer da seguinte forma:

cursor = estabelecimento.find()
df2 = pd.DataFrame(list(cursor))
df2

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,68f0484dd6cea8ae2842c01e,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,68f04912d6cea8ae2842c025,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [8]:
df.columns

Index(['_id', 'RES_ID', 'RES_NOM_ESTABELECIMENTO', 'RES_ENDERECO',
       'RES_NUMERO', 'RES_COMPLEMENTO', 'RES_CEP', 'RES_BAIRRO', 'RES_CIDADE',
       'RES_UF', 'RES_TELEFONE', 'RES_TIP_ESTABELECIMENTO'],
      dtype='object')

In [9]:
df3 = pd.DataFrame.from_records(tipo_estabelecimento.find())
df3

                        _id  RES_TIP_ESTABELECIMENTO         TIPO
0  68f0495dd6cea8ae2842c028                        1    Comercial
1  68f0497ed6cea8ae2842c02b                        2      Privado
2  68f0498ad6cea8ae2842c02d                        3  Empresarial

In [10]:
# Checando informações gerais da tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      4 non-null      object
 1   RES_ID                   4 non-null      int64
 2   RES_NOM_ESTABELECIMENTO  4 non-null      object
 3   RES_ENDERECO             4 non-null      object
 4   RES_NUMERO               4 non-null      object
 5   RES_COMPLEMENTO          4 non-null      object
 6   RES_CEP                  4 non-null      object
 7   RES_BAIRRO               4 non-null      object
 8   RES_CIDADE               4 non-null      object
 9   RES_UF                   4 non-null      object
 10  RES_TELEFONE             4 non-null      object
 11  RES_TIP_ESTABELECIMENTO  4 non-null      int64
dtypes: int64(2), object(10)
memory usage: 516.0+ bytes

In [11]:
# Olhando a dimensionalidade do DataFrame (linhas x colunas)
df.shape

(4, 12)

In [12]:
# Checando uma coluna específica do DataFrame
df["RES_BAIRRO"]

0    Meireles
1     Aldeota
2     Aldeota
3     Aldeota
Name: RES_BAIRRO, dtype: object

In [13]:
# Checando uma coluna específica do DataFrame com uma visualização melhor :)
df[df["RES_BAIRRO"] == "Aldeota"]

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,68f04912d6cea8ae2842c025,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [14]:
# Obtendo os valores unitários de uma coluna específica
df["RES_BAIRRO"].unique()

array(['Meireles', 'Aldeota'], dtype=object)

In [15]:
# Fazendo busca por valor e retornando sua quantidade
# Usamos o index [0] para retornar apenas a quantidade de linhas em que nosso valor aparece
df[df["RES_NOM_ESTABELECIMENTO"] == "Amika Coffee House"].shape[0]

1

In [16]:
# checando as n primeiras instâncias do DataFrame
n = 3
df.head(n)

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,68f0484dd6cea8ae2842c01e,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2

In [17]:
# checando as n últimas instâncias do DataFrame
n = 2
df.tail(n)

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,68f04912d6cea8ae2842c025,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [18]:
# Efetuando busca condicional
condition = (df["RES_BAIRRO"] == "Aldeota") & (df["RES_NUMERO"] != "")
df[condition]

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2

In [19]:
# Visualizando apenas as colunas de interesse da busca anterior
columns_of_interest = ["RES_NOM_ESTABELECIMENTO", "RES_ENDERECO", "RES_NUMERO"]
df[condition][columns_of_interest]

  RES_NOM_ESTABELECIMENTO           RES_ENDERECO RES_NUMERO
1              Torra Café      Rua Marcos Macêdo        827
2             Urbici Café  R. Barbosa de Freitas        951

In [20]:
# Checando a dimensionalidade da consulta
# Caso deseje retornar apenas a quantidade de linhas, inserir [0] ao final de shape
df[condition][columns_of_interest].shape

(2, 3)

### Junção de Tabelas

In [21]:
# Iremos colocar a tabela TIPO_ESTABELECIMENTO dentro do DataFrame
df = pd.DataFrame.from_records(tipo_estabelecimento.find())
df3

                        _id  RES_TIP_ESTABELECIMENTO         TIPO
0  68f0495dd6cea8ae2842c028                        1    Comercial
1  68f0497ed6cea8ae2842c02b                        2      Privado
2  68f0498ad6cea8ae2842c02d                        3  Empresarial

In [22]:
df3.shape

(3, 3)

In [23]:
# Faremos o JOIN das duas tabelas através da coluna "RES_TIP_ESTABELECIMENTO" e "_ID" e armazenaremos o resultado em um novo DF
df4 = pd.merge(df, df3, left_on = "RES_TIP_ESTABELECIMENTO", right_on="RES_TIP_ESTABELECIMENTO")

In [24]:
df4

,_id_x,RES_TIP_ESTABELECIMENTO,TIPO_x,_id_y,TIPO_y
0,68f0495dd6cea8ae2842c028,1,Comercial,68f0495dd6cea8ae2842c028,Comercial
1,68f0497ed6cea8ae2842c02b,2,Privado,68f0497ed6cea8ae2842c02b,Privado
2,68f0498ad6cea8ae2842c02d,3,Empresarial,68f0498ad6cea8ae2842c02d,Empresarial

In [25]:
df4.shape

(3, 5)

## Cursor

In [26]:
# Find() retorna um cursor pymongo
cursor2 = estabelecimento.find()

In [27]:
cursor2

In [28]:
cursor2.next()

{'_id': ObjectId('68f0484dd6cea8ae2842c01e'),
 'RES_ID': 1,
 'RES_NOM_ESTABELECIMENTO': 'Amika Coffee House',
 'RES_ENDERECO': 'Rua Ana Bilhar',
 'RES_NUMERO': '1136',
 'RES_COMPLEMENTO': 'B',
 'RES_CEP': '60160110',
 'RES_BAIRRO': 'Meireles',
 'RES_CIDADE': 'Fortaleza',
 'RES_UF': 'CE',
 'RES_TELEFONE': '(85)3031-0351',
 'RES_TIP_ESTABELECIMENTO': 1}

In [29]:
cursor2.next()

{'_id': ObjectId('68f048d5d6cea8ae2842c020'),
 'RES_ID': 2,
 'RES_NOM_ESTABELECIMENTO': 'Torra Café',
 'RES_ENDERECO': 'Rua Marcos Macêdo',
 'RES_NUMERO': '827',
 'RES_COMPLEMENTO': '',
 'RES_CEP': '60150190',
 'RES_BAIRRO': 'Aldeota',
 'RES_CIDADE': 'Fortaleza',
 'RES_UF': 'CE',
 'RES_TELEFONE': '',
 'RES_TIP_ESTABELECIMENTO': 1}

In [30]:
# Vamos inserir uma nova instância na tabela ESTABELECIMENTO
NovoEstabelecimento = {"RES_ID" : 4, 
"RES_NOM_ESTABELECIMENTO" : "Ânimo Cafe", 
"RES_ENDERECO" : "Av. Pontes Vieira",
"RES_NUMERO" : "417",
"RES_COMPLEMENTO" : "",
"RES_CEP" : "60013523",
"RES_BAIRRO" : "São João do Tauape",
"RES_CIDADE" : "Fortaleza",
"RES_UF" : "CE",
"RES_TELEFONE" : "",
"RES_TIP_ESTABELECIMENTO" : 3
}

In [31]:
estabelecimento.insert_one(NovoEstabelecimento)

InsertOneResult(ObjectId('68f04b1dc0fb13f4fff92516'), acknowledged=True)

In [32]:
# Verificando inserção
df = pd.DataFrame.from_records(estabelecimento.find())
df

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,68f0484dd6cea8ae2842c01e,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,68f04912d6cea8ae2842c025,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3
4,68f04b1dc0fb13f4fff92516,4,Ânimo Cafe,Av. Pontes Vieira,417,,60013523,São João do Tauape,Fortaleza,CE,,3

In [33]:
# Removendo instância
estabelecimento.delete_one({"RES_NOM_ESTABELECIMENTO": "Ânimo Cafe"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [34]:
# Verificando remoção
df = pd.DataFrame.from_records(estabelecimento.find())
df

,_id,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,68f0484dd6cea8ae2842c01e,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,68f048d5d6cea8ae2842c020,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,68f04905d6cea8ae2842c023,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,68f04912d6cea8ae2842c025,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [35]:
#fechando conexão
client.close()