<h1>CURSO DATA SCIENCE</h1>
<h2>Módulo 1: Extração de Dados</h2>
<h3>Aula 2 - Acessando BDs Relacionais com o SqlAlchemy</h3>
<h4>Esquema do BD Utilizado</h4>
<p>CREATE DATABASE sefaz;<p> 
   <p>CREATE TABLE ESTABELECIMENTO ( RES_ID smallint NOT NULL, RES_NOM_ESTABELECIMENTO character varying(200), RES_ENDERECO character varying(200), RES_NUMERO character varying(200), RES_COMPLEMENTO character varying(100), RES_CEP character varying(8), RES_BAIRRO character varying(60), RES_CIDADE character varying(60), RES_UF character varying(2), RES_TELEFONE character varying(15), RES_TIP_ESTABELECIMENTO smallint NOT NULL );</p><p>CREATE TABLE TIPO_ESTABELECIMENTO ( RES_TIP_ESTABELECIMENTO smallint NOT NULL, TIPO character varying(60) ); </p>
    
<p>INSERT INTO estabelecimento VALUES(1,'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'Ce', '(85)3031-0351',1 );</p>
<p>INSERT INTO estabelecimento VALUES(2,'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'Ce', '',1 );</p>
<p>INSERT INTO estabelecimento VALUES(3,'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'Ce', '',2);</p>
<p>INSERT INTO estabelecimento VALUES(4,'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'Ce', '(85) 3121-6455',3);</p>
<p>INSERT INTO tipo_estabelecimento VALUES(1, 'Comercial'); INSERT INTO tipo_estabelecimento VALUES(2, 'Privado');</p>
<p>INSERT INTO tipo_estabelecimento VALUES(3, 'Empresarial');</p>
<h2>Importando as Bibliotecas Necessárias</h2>

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\jmmfi\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jmmfi\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jmmfi\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine #Usado para conexão com BD.

In [3]:
# Nível zero de isolmaneto: READ UNCOMMITTED
# Para saber mais sobre nível de isolamento: https://docs.microsoft.com/pt-br/sql/connect/jdbc/understanding-isolation-levels?view=sql-server-ver15
# Níveis de isolamento do SQLAlchemy https://docs.sqlalchemy.org/en/13/dialects/postgresql.html?highlight=dialect#transaction-isolation-level
isolation_level={"isolation_level": "READ UNCOMMITTED"}

In [52]:
#execution_options é usado para configurar outras opções do banco
#echo é usado para mostrar o debug dos comandos SQL que o SQLAlchemy faz.
#engine = create_engine('localhost:5432/sefaz', execution_options=isolation_level, echo=False)
engine = create_engine('postgresql://postgres:123456@localhost:5432/sefaz')
conn = engine.connect()

In [53]:
conn

<h2>Manipulando PostgreSQL no DataFrame</h2>
<h3>Executando Consultas no DataFrame</h3>

In [54]:
df = pd.read_sql('SELECT * FROM estabelecimento', con=conn)

In [55]:
df

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3
4,5,Ânimo Café,Av Pontes Vieira,417,,60013523,São João do Tauape,Fortaleza,Ce,,3

In [7]:
# Imprimindo as colunas presentes no DataFrame
df.columns

Index(['res_id', 'res_nom_estabelecimento', 'res_endereco', 'res_numero',
       'res_complemento', 'res_cep', 'res_bairro', 'res_cidade', 'res_uf',
       'res_telefone', 'res_tip_estabelecimento'],
      dtype='object')

In [8]:
# Checando informações gerais da tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   res_id                   4 non-null      int64
 1   res_nom_estabelecimento  4 non-null      object
 2   res_endereco             4 non-null      object
 3   res_numero               4 non-null      object
 4   res_complemento          4 non-null      object
 5   res_cep                  4 non-null      object
 6   res_bairro               4 non-null      object
 7   res_cidade               4 non-null      object
 8   res_uf                   4 non-null      object
 9   res_telefone             4 non-null      object
 10  res_tip_estabelecimento  4 non-null      int64
dtypes: int64(2), object(9)
memory usage: 484.0+ bytes

In [9]:
# Olhando a dimensionalidade do DataFrame (linhas x colunas)
df.shape

(4, 11)

In [10]:
# Checando uma coluna específica do DataFrame
df["res_bairro"]

0    Meireles
1     Aldeota
2     Aldeota
3     Aldeota
Name: res_bairro, dtype: object

In [11]:
# Checando uma coluna específica do DataFrame com uma visualização melhor :)
df[df["res_bairro"] == "Aldeota"]

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3

In [12]:
# Obtendo os valores unitários de uma coluna específica
df["res_bairro"].unique()

array(['Meireles', 'Aldeota'], dtype=object)

In [13]:
# Fazendo busca por valor e retornando sua quantidade
# Usamos o index [0] para retornar apenas a quantidade de linhas em que nosso valor aparece
df[df["res_nom_estabelecimento"] == "Amika Coffee House"].shape[0]

1

In [14]:
# checando as n primeiras instâncias do DataFrame
n = 3
df.head(n)

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2

In [15]:
# checando as n últimas instâncias do DataFrame
n = 2
df.tail(n)

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3

In [16]:
# Efetuando busca condicional
condition = (df["res_bairro"] == "Aldeota") & (df["res_numero"] != "")
df[condition]

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2

In [17]:
# Visualizando apenas as colunas de interesse da busca anterior
columns_of_interest = ["res_nom_estabelecimento", "res_endereco", "res_numero"]
df[condition][columns_of_interest]

  res_nom_estabelecimento           res_endereco res_numero
1              Torra Café      Rua Marcos Macêdo        827
2             Urbici Café  R. Barbosa de Freitas        951

In [18]:
# Checando a dimensionalidade da consulta
# Caso deseje retornar apenas a quantidade de linhas, inserir [0] ao final de shape
df[condition][columns_of_interest].shape

(2, 3)

<h3>Funções Agregadas</h3>

In [19]:
# obter desvio padrão de uma coluna
np.std(df["res_id"])

1.118033988749895

In [20]:
# obter média de uma coluna
np.mean(df["res_id"])

2.5

In [21]:
# obter mediana de uma coluna
np.median(df["res_id"])

2.5

In [22]:
# obter o máximo de uma coluna
np.max(df["res_id"])

4

In [23]:
# obter o mínimo de uma coluna
np.min(df["res_id"])

1

<h3>Junção de Tabelas</h3>

In [24]:
# Iremos colocar a tabela TIPO_ESTABELECIMENTO dentro do DataFrame
df2 = pd.read_sql('select * from TIPO_ESTABELECIMENTO', con=conn)

In [25]:
df2

   res_tip_estabelecimento         tipo
0                        1    Comercial
1                        2      Privado
2                        3  Empresarial

In [26]:
df2.shape

(3, 2)

In [27]:
# Faremos o JOIN das duas tabelas através da coluna "RES_TIP_ESTABELECIMENTO" e armazenaremos o resultado em um novo DF
df3 = pd.merge(df, df2, on = "res_tip_estabelecimento")

In [28]:
df3

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento,tipo
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1,Comercial
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1,Comercial
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2,Privado
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3,Empresarial

In [29]:
df3.shape

(4, 12)

<h2>Cursor</h2>

In [ ]:
from sqlalchemy import create_engine

In [56]:
from sqlalchemy.sql import text
result = conn.execute(text("SELECT * FROM estabelecimento"))

In [57]:
rows = result.fetchall()

In [58]:
print(rows)

[(1, 'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'Ce', '(85)3031-0351', 1), (2, 'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'Ce', '', 1), (3, 'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'Ce', '', 2), (4, 'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'Ce', '(85) 3121-6455', 3), (5, 'Ânimo Café', 'Av Pontes Vieira', '417', '', '60013523', 'São João do Tauape', 'Fortaleza', 'Ce', '', 3)]

In [44]:
# Vamos inserir uma nova instância na tabela ESTABELECIMENTO
conn.execute(text("INSERT INTO estabelecimento VALUES(5,'Ânimo Café', 'Av Pontes Vieira', '417', '', '60013523', 'São João do Tauape', 'Fortaleza', 'Ce', '',3 )"))

In [59]:
# Verificando inserção
pd.read_sql('select * from estabelecimento', con=conn)

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3
4,5,Ânimo Café,Av Pontes Vieira,417,,60013523,São João do Tauape,Fortaleza,Ce,,3

In [60]:
# Removendo instância
conn.execute(text("DELETE FROM estabelecimento WHERE RES_NOM_ESTABELECIMENTO = 'Ânimo Café'"))

In [61]:
# Verificando remoção
pd.read_sql('select * from estabelecimento', con=conn)

,res_id,res_nom_estabelecimento,res_endereco,res_numero,res_complemento,res_cep,res_bairro,res_cidade,res_uf,res_telefone,res_tip_estabelecimento
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,Ce,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,Ce,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,Ce,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,Ce,(85) 3121-6455,3

<h2>Fechando a Conexão com o PostgreSQL</h2>

In [62]:
conn.commit()

In [63]:
conn.close()